asgiref==3.8.1
colorama==0.4.6
Django==5.2
numpy==2.2.4
pandas==2.2.3
PyMuPDF==1.25.5
python-dateutil==2.9.0.post0
pytube==15.0.0
pytubefix==8.12.3
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
yt-dlp==2025.3.31
